.element {
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
}

label {
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"]:hover,
label:hover {
  cursor: pointer;
}
